html
	head
		title This is a Simple Todo List
		link(rel="stylesheet",href="/bower_components/bootstrap/dist/css/bootstrap.min.css")
		link(rel="stylesheet",href="/bower_components/bootstrap/dist/css/bootstrap-theme.min.css")
		script(src="/bower_components/jquery/dist/jquery.min.js")
	body
		div.container
			div.page-Header
				h1 Express ToDo List
			block content

