extends layout

block header
  div.jumbotron
    h1 Express Challenge
    p
      | Congratulations!
      br
      | you have successfully Completed phase 1 of the Express Challenge.
      br
      | in the next phase you will be asked to write a simple Node.JS Q&A application


