extends layout
block content
	:markdown
		# HTTP Challenge

		Build a simple Http static files server,

		The server should accept http request and serve the file with an appropriate mime type.
		
		If the file doesn't exist return 404
		
		Use only core nodejs modules.

		1. inside `\http\Challenge\server.js` you'll find a starter file with comments that will guide you further

		2. Use the file system function you implemented in the previous challenge.


	hr
	a.btn.btn-primary(href="/modules") Continue &rarr;


















