extends layout
block content
	:markdown
		# Modules Challenge

		Break the http server implemented in the previous challenge into 2 seperate modules.

		1. the Http server

		2. The file system module that containes the file lookup.

	hr
	a.btn.btn-primary(href="/start") Continue &rarr;


















