//
//"tags":["javascript","node.js","browserify"],"owner":{"reputation":1205,"user_id":2533082,"user_type":"registered","accept_rate":68,"profile_image":"https://www.gravatar.com/avatar/7097e6c465ed546a571fd85b9aa5e16c?s=128&d=identicon&r=PG","display_name":"Vinz243","link":"http://stackoverflow.com/users/2533082/vinz243"},"is_answered":true,"view_count":4704,"answer_count":6,"score":14,"last_activity_date":1432902598,"creation_date":1393258638,"last_edit_date":1394019140,"question_id":21993073,"link":"http://stackoverflow.com/questions/21993073/browserify-with-paths-to-folders-in-my-system","title":"Browserify with paths to folders in my system"}

extends layout
block header
   h2=  "Node.JS Questions"
block content
block pager









